* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 200vh;
}

.parent {
  padding: 0.25rem;
  background-color: lightskyblue;
  position: relative;
}
.child1 {
  padding: 0.25rem;
  background-color: lightcoral;
  position: sticky;
  top: 0;
}
.child2 {
  padding: 0.25rem;
  background-color: lightgreen;
}
.child3 {
  padding: 0.25rem;
  background-color: peru;
}
